<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Column1</th>
      <th>Column2</th>
      <th>Column3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Company name</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>|City, State, Zip</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>Phone: 999-999-9998 Fax: 999-999-9997</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>Attn name</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>122356.0</td>
      <td>Hand pump</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>Inflatable boat</td>
    </tr>
  </tbody>
</table>