<html>
    <head>
        <h2>Configure your Billing Screen</h2>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>
<body>
    <img  alt="My Image" ismap" id='backImg'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
          var rootContext = '/home/selvaprakash/BillD/'
          var vars = {};
          var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
              vars[key] = value;
          });
          var up_file=(vars['up_file'])
          console.log(rootContext + up_file)
          document.getElementById('backImg').src= rootContext + up_file

        //document.getElementById("backImg").src = up_file;

      </script>



    <script type="text/javascript">

    $(document).ready(function() {
        // $("coord1").on("focus",function()
        // {
        //   console.log("coord1");
        //   focusedId="coord1";

        // });
        $("img").on("click", function(event) {
            var x = event.pageX - this.offsetLeft;
            var y = event.pageY - this.offsetTop;
            document.getElementById(focusedId).value=x+";"+y;
            console.log(document.getElementById(focusedId).value);

            //alert("X Coordinate: " + x + " Y Coordinate: " + y);
        });
    });

    function addFields(){
            var number = document.getElementById("member").value;
            //var number=4;
            var container = document.getElementById("form-container");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=1;i<=number;i++){
                container.appendChild(document.createTextNode("Field " + (i)));
                var input1 = document.createElement("input");
                input1.type = "text";
                input1.id="field"+i.toString();
                input1.name = "field"+i.toString();
                console.log(input1.id)
                container.appendChild(input1);
                container.appendChild(document.createTextNode("  Position " + (i)));
                var input2 = document.createElement("input");
                input2.type = "text";
                input2.id="coord"+i.toString();
                input2.name="coord"+i.toString();
                console.log(input2.id)
                input2.addEventListener("focus", focusFunction, true);
                container.appendChild(input2);
                container.appendChild(document.createElement("br"));
            }
                // container.appendChild(document.createTextNode("Max XY "));
                // var input3 = document.createElement("input");
                // input3.type = "text";
                // input3.id="maxxy";
                // input3.name = "maxxy";
                // input3.addEventListener("focus", focusFunction, true);
                // container.appendChild(input3);
                // container.appendChild(document.createElement("br"));
                //fillvalues();

        }

    // function setFocus(number)
    // {
    //   for (i=1;i<=number;i++){
    //     var x = document.getElementById("coord"+i.toString())
    //     // setTimeout("document.getElementById('" + objField.id + "').focus()", 10); // works great in all browsers
    //     x.onfocus=focusFunction();

    //   }

    // }
    function fillvalues()
    {
      // document.getElementById('member').defaultValue= 4;
      // document.getElementById('field1').defaultValue="Item";
      // document.getElementById('field2').defaultValue="Price";
      // document.getElementById('field3').defaultValue="Qty";
      // document.getElementById('field4').defaultValue="Amt";
      // document.getElementById('coord1').defaultValue="83;159";
      // document.getElementById('coord2').defaultValue="165;162";
      // document.getElementById('coord3').defaultValue="249;161";
      // document.getElementById('coord4').defaultValue="329;161";
      // document.getElementById('maxxy').defaultValue="413;213";
    }
    </script>

<body>

<button class="open-button" onclick="openForm()">Open Form</button>

<div class="form-popup" id="headerForm">
    <div id="form-header">Click here to move</div>

  <form method=post class="form-container">
    <h1>Set Co-Ordinates</h1>

    <input type="text" id="member" name="member" value="">&nbsp&nbsp&nbspNumber of Fields:<br />
<a href="#" id="filldetails" onclick="addFields()">Fill Details</a>
      <div id="form-container"></div>

    <button type="submit" class="btn">Set Co-Ordinates</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

  </form>
</div>

<script>
function openForm() {
  document.getElementById("headerForm").style.display = "block";
}

function closeForm() {
  document.getElementById("headerForm").style.display = "none";
}

function focusFunction() {
  console.log('inside focusfunc')
  console.log(this.id)
focusedId=this.id
};

dragElement(document.getElementById("headerForm"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById("form-header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById("form-header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>


</body>
</html>